@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,
body {
	@apply p-0 m-0 font-sans bg-tertiary;
}

* {
	@apply box-border;
}

.btn-primary {
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
}

.btn-secondary {
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
}

.snake-food::before {
	content: url('../../public/food.svg');
	height: 20px;
	width: 20px;
	position: absolute;
	top: -22px;
	left: -7px;
}
