@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,
body {
	@apply p-0 m-0 font-sans bg-tertiary overflow-x-hidden;
}

.game-box::before {
	background-image: repeating-linear-gradient(to bottom, #0000, #0000 12px, #27430e78 12px, #27430e78 14px),
                    repeating-linear-gradient(to right, #bac70029, #bac70029 12px, #27430e78 12px, #27430e78 14px);
	background-position: -4px 20px;
	content: '';
	height: 100%;
	width: 100%;
	opacity: 0.25;
	display: block;
}

* {
	@apply box-border;
}

.btn-primary {
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
}

.btn-secondary {
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
}

.snake-food::before {
	content: url('../../public/food.svg');
	height: 20px;
	width: 20px;
	position: absolute;
	top: -22px;
	left: -7px;
}
